

.images{
	margin-top: 5%;
	display: flex;
	justify-content: center;
}

.image1:hover{
	transform: scale(1.2);
	transition: .5s;
}

.image2:hover{
	transform: scale(1.2);
	transition: .5s;
}

.image3:hover{
	transform: scale(1.2);
	transition: .5s;
}

.box{
	margin-top: 10%;
	display: flex;
	justify-content: center;
}

		
	
