.box {
	max-width: 700px;
	margin: 75px auto;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 250px auto;

}

header {
	font-family: "Playfair Display";
	font-weight: 450;
	color: cornflowerblue;
	font-size: 70px;
	margin: auto;
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}

nav {
	text-align: center;
	font-family: "Source Code Pro";
	color: firebrick;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	height: max-content;
}

main {
	font-family: "Source Code Pro";
	font-size: 20px;
	grid-row: 2 / 3;
	grid-column: 2 / 3;

}

footer {
	text-align: center;
	grid-row: 3 / 4;
	grid-column: 1 / 3;
}

figcaption {
	font-family: "Source Code Pro";
	color: cornflowerblue;

}
footer:hover{
	transform: scale(1.2);
	transition: 1s;
}
